<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{emails/fragments/email-layout :: layout(~{:: #email-content-wrapper}, 'Réinitialisation de mot de passe')}">
<body>
<div id="email-content-wrapper">
    <h2>Bonjour <span th:text="${userName}">Utilisateur</span>,</h2>
    <p>
        Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte Tickly.
    </p>
    <p>
        Cliquez sur le bouton ci-dessous pour choisir un nouveau mot de passe.
    </p>
    <p style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
        <a th:href="${resetLink}" class="button">Réinitialiser le mot de passe</a>
    </p>
    <p><b>
        Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail en toute sécurité.
    </b>
    </p>
    <p><i>
        Ce lien expirera dans 1 heure.
    </i>
    </p>
</div>
</body>
</html>